// ======================================
//  Variables
// ======================================

// Colors
$color-primary: #3e9995;
$color-primary-dark: darken($color-primary, 10%);
$color-secondary: #121212;
$footer-color: #000000;
