footer {
  background: #000;
  margin-top: 16em;
  @include mq("suit-hero") {
    margin-top: 13em;
  }
  @include mq("med") {
    margin-top: 4em;
    width: 100%;
    max-width: 100%;
  }

  .footer-container {
    @include mq("meeting") {
      flex-wrap: wrap;
      width: 100%;
      .contact,
      .logo,
      .icons {
        margin: 15px;
        width: 40%;
      }

      .logo {
        order: 1;
      }

      .icons {
        order: 2;
      }

      .contact {
        order: 3;
      }
    }

    .contact,
    .logo,
    .icons {
      width: 33.33%;
    }

    @include mq("meeting") {
      background: none;
    }
    background: url(../img/brand/triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
  }

  .icons {
    div {
      display: flex;
      img {
        display: inline-block;
        width: 40px;
        height: auto;
        cursor: pointer;
        &:nth-child(1) {
          margin-left: auto;
          margin-right: 10px;
        }
        &:nth-child(2) {
          margin-right: auto;
          margin-left: 10px;
        }
      }
    }
  }

  .logo embed {
    width: 125px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .contact {
    @include mq("meeting") {
      flex-direction: column;
      flex: 1 100%;
      .contact {
        display: block;
        width: 100%;
        p {
          width: 100%;
        }
      }
    }
    font-size: px-to-em(16px);
    p {
      text-align: center;
      span {
        color: $color-primary;
        font-size: px-to-em(26px);
        text-transform: uppercase;
      }
    }
  }
}
